@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
body {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa; }

#listTabs {
  margin-top: 20px; }

.nav-tabs {
  border: 0;
  margin-bottom: 20px; }
  .nav-tabs .nav-link {
    position: relative;
    border: 0;
    color: #A9A8A8;
    padding: 0;
    margin-right: 20px;
    font-weight: 400;
    font-size: 22px;
    background: transparent; }
    .nav-tabs .nav-link.active {
      color: #020202;
      background: transparent; }
      .nav-tabs .nav-link.active:after {
        content: " ";
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -5px;
        display: block;
        width: 4px;
        height: 4px;
        -webkit-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        background: #020202; }

.tabs-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.remove-icon {
  background: #e9ebec;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  float: right;
  padding: 8px;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }
  .remove-icon .icon {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M14.2222%202.15655H11.4204C11.2806%200.94457%2010.2494%200%209.00055%200C7.75171%200%206.72069%200.944533%206.58092%202.15655H3.77892C2.64503%202.15655%201.72266%203.07918%201.72266%204.21303V4.31855C1.72266%205.18502%202.26218%205.92666%203.02221%206.22884V15.9435C3.02221%2017.0774%203.94469%2018%205.07851%2018H12.9227C14.0565%2018%2014.9789%2017.0773%2014.9789%2015.9435V6.22888C15.7389%205.92666%2016.2785%205.18502%2016.2785%204.31858V4.21307C16.2785%203.07918%2015.356%202.15655%2014.2222%202.15655ZM9.00055%200.975277C9.71085%200.975277%2010.3037%201.48439%2010.4349%202.15655H7.56646C7.69761%201.48435%208.29052%200.975277%209.00055%200.975277ZM14.0037%2015.9435C14.0037%2016.5397%2013.5186%2017.0248%2012.9226%2017.0248H5.07847C4.4825%2017.0248%203.99745%2016.5396%203.99745%2015.9435V6.37503H14.0037V15.9435ZM15.3032%204.31855C15.3032%204.9147%2014.8182%205.39979%2014.2222%205.39979H3.77892C3.18294%205.39979%202.6979%204.9147%202.6979%204.31855V4.21303C2.6979%203.61687%203.18294%203.13179%203.77892%203.13179H14.2222C14.8182%203.13179%2015.3032%203.61687%2015.3032%204.21303V4.31855H15.3032Z%22%20fill%3D%22black%22/%3E%0A%3Cpath%20d%3D%22M6.38606%2015.7775C6.65537%2015.7775%206.87368%2015.5591%206.87368%2015.2899V9.79945C6.87368%209.53022%206.65533%209.3118%206.38606%209.3118C6.11678%209.3118%205.89844%209.53022%205.89844%209.79945V15.2899C5.8984%2015.5592%206.11675%2015.7775%206.38606%2015.7775Z%22%20fill%3D%22black%22/%3E%0A%3Cpath%20d%3D%22M9.00129%2015.7775C9.2706%2015.7775%209.48895%2015.5591%209.48895%2015.2899V9.79945C9.48895%209.53022%209.27053%209.3118%209.00129%209.3118C8.73202%209.3118%208.51367%209.53022%208.51367%209.79945V15.2899C8.51367%2015.5592%208.73198%2015.7775%209.00129%2015.7775Z%22%20fill%3D%22black%22/%3E%0A%3Cpath%20d%3D%22M11.6146%2015.7775C11.8839%2015.7775%2012.1022%2015.5591%2012.1022%2015.2899V9.79945C12.1022%209.53022%2011.8839%209.3118%2011.6146%209.3118C11.3453%209.3118%2011.127%209.53022%2011.127%209.79945V15.2899C11.1269%2015.5592%2011.3453%2015.7775%2011.6146%2015.7775Z%22%20fill%3D%22black%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100%; }
  .remove-icon:hover {
    background: #30CD6E; }
    .remove-icon:hover .icon {
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M14.2222%202.15655H11.4204C11.2806%200.94457%2010.2494%200%209.00055%200C7.75171%200%206.72069%200.944533%206.58092%202.15655H3.77892C2.64503%202.15655%201.72266%203.07918%201.72266%204.21303V4.31855C1.72266%205.18502%202.26218%205.92666%203.02221%206.22884V15.9435C3.02221%2017.0774%203.94469%2018%205.07851%2018H12.9227C14.0565%2018%2014.9789%2017.0773%2014.9789%2015.9435V6.22888C15.7389%205.92666%2016.2785%205.18502%2016.2785%204.31858V4.21307C16.2785%203.07918%2015.356%202.15655%2014.2222%202.15655ZM9.00055%200.975277C9.71085%200.975277%2010.3037%201.48439%2010.4349%202.15655H7.56646C7.69761%201.48435%208.29052%200.975277%209.00055%200.975277ZM14.0037%2015.9435C14.0037%2016.5397%2013.5186%2017.0248%2012.9226%2017.0248H5.07847C4.4825%2017.0248%203.99745%2016.5396%203.99745%2015.9435V6.37503H14.0037V15.9435ZM15.3032%204.31855C15.3032%204.9147%2014.8182%205.39979%2014.2222%205.39979H3.77892C3.18294%205.39979%202.6979%204.9147%202.6979%204.31855V4.21303C2.6979%203.61687%203.18294%203.13179%203.77892%203.13179H14.2222C14.8182%203.13179%2015.3032%203.61687%2015.3032%204.21303V4.31855H15.3032Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M6.38606%2015.7775C6.65537%2015.7775%206.87368%2015.5591%206.87368%2015.2899V9.79945C6.87368%209.53022%206.65533%209.3118%206.38606%209.3118C6.11678%209.3118%205.89844%209.53022%205.89844%209.79945V15.2899C5.8984%2015.5592%206.11675%2015.7775%206.38606%2015.7775Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M9.00129%2015.7775C9.2706%2015.7775%209.48895%2015.5591%209.48895%2015.2899V9.79945C9.48895%209.53022%209.27053%209.3118%209.00129%209.3118C8.73202%209.3118%208.51367%209.53022%208.51367%209.79945V15.2899C8.51367%2015.5592%208.73198%2015.7775%209.00129%2015.7775Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M11.6146%2015.7775C11.8839%2015.7775%2012.1022%2015.5591%2012.1022%2015.2899V9.79945C12.1022%209.53022%2011.8839%209.3118%2011.6146%209.3118C11.3453%209.3118%2011.127%209.53022%2011.127%209.79945V15.2899C11.1269%2015.5592%2011.3453%2015.7775%2011.6146%2015.7775Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A"); }

.remove-message {
  background: #30CD6E;
  color: white;
  padding: 15.38462px 20px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 1;
  font-size: 20px;
  min-width: 190px;
  display: none; }
  .remove-message-buttons {
    margin-top: 15px; }
  .remove-message .remove-button {
    display: inline-block;
    cursor: pointer;
    width: 48%;
    text-align: center; }
  .remove-message.active {
    display: block; }

.items-list {
  margin-top: 20px; }
  .items-list ul {
    list-style: none;
    vertical-align: top;
    padding: 0; }
    .items-list ul li {
      text-align: center;
      cursor: pointer;
      padding-bottom: 5px;
      width: 33%;
      display: inline-block;
      vertical-align: top; }
      .items-list ul li img {
        max-width: 85px;
        height: auto;
        margin-right: -50%; }
      .items-list ul li > div {
        position: relative;
        width: 84px;
        height: 84px;
        border-radius: 25px;
        margin: 15px auto; }
        .items-list ul li > div .shadow {
          position: absolute;
          bottom: 0px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          display: block;
          width: 70px;
          height: 70px;
          border-radius: 35px;
          filter: blur(15px);
          opacity: 1;
          z-index: -1; }
      .items-list ul li h4 {
        font-weight: normal;
        font-size: 16px; }
  .items-list.recent-items li > div {
    background: #E9E9E9 !important; }
    .items-list.recent-items li > div .shadow {
      background: #E9E9E9 !important; }

.footer-panel {
  position: fixed;
  background: white;
  top: calc(100% - 80px);
  left: 0;
  width: 100%;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 0 13.33333px 13.33333px;
  height: 100%;
  z-index: 1; }
  .footer-panel.up {
    top: 82px; }
  .footer-panel-toggle {
    padding: 3px 0;
    text-align: center; }
  .footer-panel input[type="text"] {
    background: #F9F9F9;
    border-color: #F9F9F9;
    -webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    padding-left: 50px; }
  .footer-panel .search {
    position: relative; }
    .footer-panel .search:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 10px;
      display: block;
      width: 27px;
      height: 27px;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2227%22%20height%3D%2227%22%20viewBox%3D%220%200%2027%2027%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%0A%3Cpath%20d%3D%22M26.3999%2023.4636L20.8343%2017.8983C22.1756%2015.9621%2022.8465%2013.8037%2022.8465%2011.4242C22.8465%209.8773%2022.5462%208.39791%2021.9456%206.98631C21.3454%205.57449%2020.534%204.3576%2019.5118%203.33536C18.4896%202.31312%2017.2729%201.50173%2015.8613%200.901472C14.4493%200.301041%2012.97%200.000854492%2011.4232%200.000854492C9.87644%200.000854492%208.39705%200.301041%206.98546%200.901472C5.57363%201.50173%204.35675%202.31312%203.33451%203.33536C2.31216%204.3576%201.50088%205.57472%200.900561%206.98631C0.300187%208.39808%200%209.8773%200%2011.4242C0%2012.9709%200.300187%2014.4498%200.900561%2015.8618C1.50082%2017.2734%202.31216%2018.4901%203.33451%2019.5123C4.35675%2020.5349%205.57386%2021.346%206.98546%2021.9466C8.39722%2022.5469%209.87644%2022.847%2011.4232%2022.847C13.8033%2022.847%2015.9613%2022.176%2017.8976%2020.8349L23.4631%2026.384C23.8525%2026.795%2024.3387%2027.0006%2024.9233%2027.0006C25.4858%2027.0006%2025.9728%2026.795%2026.3835%2026.384C26.7944%2025.9731%2027.0001%2025.4863%2027.0001%2024.9238C27.0002%2024.3508%2026.8001%2023.8638%2026.3999%2023.4636ZM16.5588%2016.5592C15.1363%2017.9818%2013.4246%2018.6931%2011.4232%2018.6931C9.42213%2018.6931%207.7104%2017.9817%206.28784%2016.5592C4.86528%2015.1367%204.15403%2013.4252%204.15403%2011.4238C4.15403%209.42276%204.86545%207.71075%206.28784%206.28847C7.71012%204.86585%209.42213%204.15465%2011.4232%204.15465C13.4244%204.15465%2015.1361%204.86613%2016.5588%206.28847C17.9814%207.71075%2018.6927%209.42276%2018.6927%2011.4238C18.6927%2013.4252%2017.9812%2015.1367%2016.5588%2016.5592Z%22%20fill%3D%22%233CBB6E%22/%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2227%22%20height%3D%2227%22%20fill%3D%22white%22/%3E%0A%3C/clipPath%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 100%; }

.category-list {
  padding-top: 20px; }
  .category-list ul {
    list-style: none;
    padding: 0;
    height: 480px;
    overflow: scroll; }

.category-item {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer; }
  .category-item > div {
    display: inline-block;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-right: 25px;
    position: relative;
    width: 38px;
    height: 38px;
    vertical-align: middle; }
    .category-item > div img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 40px;
      margin-left: 10px; }
  .category-item h4 {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500; }
  .category-item[data-category="fish"] .category-item-image {
    background: #81C1E5; }
  .category-item:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%0A%3Cpath%20d%3D%22M11.4675%208.24256L5.01777%2014.6921C4.60749%2015.1026%203.94228%2015.1026%203.5322%2014.6921C3.12208%2014.282%203.12208%2013.6168%203.5322%2013.2068L9.23926%207.49988L3.53236%201.7932C3.12225%201.38292%203.12225%200.717813%203.53236%200.307697C3.94248%20-0.102586%204.60765%20-0.102586%205.01794%200.307697L11.4677%206.75736C11.6728%206.96252%2011.7752%207.23111%2011.7752%207.49984C11.7752%207.76871%2011.6726%208.0375%2011.4675%208.24256Z%22%20fill%3D%22%23A9A8A8%22/%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Cpath%20d%3D%22M0%200H15V15H0V0Z%22%20fill%3D%22white%22/%3E%0A%3C/clipPath%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px; }

.category-view {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 2;
  bottom: -100%;
  left: 0;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 0 13.33333px 13.33333px;
  /*
	&.dairy {
		.item {
			div{
				&:hover {
					background: #C5E4F8 !important;
				}
			}
		}
	}
*/ }
  .category-view-toggle {
    text-align: center; }
  .category-view.active {
    bottom: 0; }
  .category-view .category-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px; }
  .category-view .category-view-close {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23CCCCCC%22/%3E%0A%3Crect%20x%3D%226.65234%22%20y%3D%228.06445%22%20width%3D%221.99634%22%20height%3D%2213.1369%22%20rx%3D%220.998171%22%20transform%3D%22rotate%28-45%206.65234%208.06445%29%22%20fill%3D%22white%22/%3E%0A%3Crect%20x%3D%228.06445%22%20y%3D%2217.3532%22%20width%3D%222.00753%22%20height%3D%2213.1369%22%20rx%3D%221.00377%22%20transform%3D%22rotate%28-135%208.06445%2017.3532%29%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
    margin-top: -10px;
    cursor: pointer; }
  .category-view ul {
    height: 470px;
    overflow-y: scroll;
    overflow-x: hidden; }

.empty-list {
  display: none; }
  .empty-list-text {
    font-size: 22px;
    width: 80%;
    margin: 40px auto 0; }
  .empty-list-add-items-toggle-wrap {
    position: relative; }
    .empty-list-add-items-toggle-wrap .shadow {
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 35px;
      filter: blur(15px);
      opacity: 1;
      z-index: -1;
      background: #30CD6E; }
  .empty-list-add-items-toggle {
    margin: 25px auto -15px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 65px;
    -webkit-border-radius: 13px;
    -ms-border-radius: 13px;
    border-radius: 13px;
    background: #30CD6E;
    color: white;
    font-size: 40px;
    cursor: pointer; }
