//Colors
$bg-color: white;
$color-black: #020202;
$color-gray: #A9A8A8;
$color-gray-light: #F9F9F9;
$color-green: #30CD6E;

//Indent
$indent-base: 20px;

//Font
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property; 
}
@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property; 
}

body {
	padding: $indent-base;
	font-family: "Poppins", sans-serif;
	background-color: #fafafa;
}

//Tabs
#listTabs {
	margin-top: $indent-base;
}

.nav-tabs {
	border: 0;
	margin-bottom: $indent-base;
	.nav-link{
		position: relative;
		border: 0;
		color: $color-gray;
		padding: 0;
		margin-right: 20px;
		font-weight: 400;
		font-size: 24px;
		background: transparent;
		
		&.active {
			color: $color-black;
			background: transparent;

			&:after {
				content: " ";
				position: absolute;
				bottom: -15px;
				left: 50%;
				margin-left: -5px;
				display: block;
				width: 4px;
				height: 4px;
				@include border-radius(100%);
				background: $color-black;
			}			
		}
	}
}

.tabs-wrapper {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}	

//Remove icon
.remove-icon{
	background: #e9ebec;
	@include border-radius(10px);
	display: inline-block;
	float: right;
	padding: 8px;
	@include transition(0.2s);
	cursor: pointer;
	
	.icon {
		display: block;
		width: 17px;
		height: 17px;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M14.2222%202.15655H11.4204C11.2806%200.94457%2010.2494%200%209.00055%200C7.75171%200%206.72069%200.944533%206.58092%202.15655H3.77892C2.64503%202.15655%201.72266%203.07918%201.72266%204.21303V4.31855C1.72266%205.18502%202.26218%205.92666%203.02221%206.22884V15.9435C3.02221%2017.0774%203.94469%2018%205.07851%2018H12.9227C14.0565%2018%2014.9789%2017.0773%2014.9789%2015.9435V6.22888C15.7389%205.92666%2016.2785%205.18502%2016.2785%204.31858V4.21307C16.2785%203.07918%2015.356%202.15655%2014.2222%202.15655ZM9.00055%200.975277C9.71085%200.975277%2010.3037%201.48439%2010.4349%202.15655H7.56646C7.69761%201.48435%208.29052%200.975277%209.00055%200.975277ZM14.0037%2015.9435C14.0037%2016.5397%2013.5186%2017.0248%2012.9226%2017.0248H5.07847C4.4825%2017.0248%203.99745%2016.5396%203.99745%2015.9435V6.37503H14.0037V15.9435ZM15.3032%204.31855C15.3032%204.9147%2014.8182%205.39979%2014.2222%205.39979H3.77892C3.18294%205.39979%202.6979%204.9147%202.6979%204.31855V4.21303C2.6979%203.61687%203.18294%203.13179%203.77892%203.13179H14.2222C14.8182%203.13179%2015.3032%203.61687%2015.3032%204.21303V4.31855H15.3032Z%22%20fill%3D%22black%22/%3E%0A%3Cpath%20d%3D%22M6.38606%2015.7775C6.65537%2015.7775%206.87368%2015.5591%206.87368%2015.2899V9.79945C6.87368%209.53022%206.65533%209.3118%206.38606%209.3118C6.11678%209.3118%205.89844%209.53022%205.89844%209.79945V15.2899C5.8984%2015.5592%206.11675%2015.7775%206.38606%2015.7775Z%22%20fill%3D%22black%22/%3E%0A%3Cpath%20d%3D%22M9.00129%2015.7775C9.2706%2015.7775%209.48895%2015.5591%209.48895%2015.2899V9.79945C9.48895%209.53022%209.27053%209.3118%209.00129%209.3118C8.73202%209.3118%208.51367%209.53022%208.51367%209.79945V15.2899C8.51367%2015.5592%208.73198%2015.7775%209.00129%2015.7775Z%22%20fill%3D%22black%22/%3E%0A%3Cpath%20d%3D%22M11.6146%2015.7775C11.8839%2015.7775%2012.1022%2015.5591%2012.1022%2015.2899V9.79945C12.1022%209.53022%2011.8839%209.3118%2011.6146%209.3118C11.3453%209.3118%2011.127%209.53022%2011.127%209.79945V15.2899C11.1269%2015.5592%2011.3453%2015.7775%2011.6146%2015.7775Z%22%20fill%3D%22black%22/%3E%0A%3C/svg%3E%0A');
			background-repeat: no-repeat;	
			background-size: 100%;	
	}
	
	&:hover {
		background: $color-green;
		
		.icon {
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M14.2222%202.15655H11.4204C11.2806%200.94457%2010.2494%200%209.00055%200C7.75171%200%206.72069%200.944533%206.58092%202.15655H3.77892C2.64503%202.15655%201.72266%203.07918%201.72266%204.21303V4.31855C1.72266%205.18502%202.26218%205.92666%203.02221%206.22884V15.9435C3.02221%2017.0774%203.94469%2018%205.07851%2018H12.9227C14.0565%2018%2014.9789%2017.0773%2014.9789%2015.9435V6.22888C15.7389%205.92666%2016.2785%205.18502%2016.2785%204.31858V4.21307C16.2785%203.07918%2015.356%202.15655%2014.2222%202.15655ZM9.00055%200.975277C9.71085%200.975277%2010.3037%201.48439%2010.4349%202.15655H7.56646C7.69761%201.48435%208.29052%200.975277%209.00055%200.975277ZM14.0037%2015.9435C14.0037%2016.5397%2013.5186%2017.0248%2012.9226%2017.0248H5.07847C4.4825%2017.0248%203.99745%2016.5396%203.99745%2015.9435V6.37503H14.0037V15.9435ZM15.3032%204.31855C15.3032%204.9147%2014.8182%205.39979%2014.2222%205.39979H3.77892C3.18294%205.39979%202.6979%204.9147%202.6979%204.31855V4.21303C2.6979%203.61687%203.18294%203.13179%203.77892%203.13179H14.2222C14.8182%203.13179%2015.3032%203.61687%2015.3032%204.21303V4.31855H15.3032Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M6.38606%2015.7775C6.65537%2015.7775%206.87368%2015.5591%206.87368%2015.2899V9.79945C6.87368%209.53022%206.65533%209.3118%206.38606%209.3118C6.11678%209.3118%205.89844%209.53022%205.89844%209.79945V15.2899C5.8984%2015.5592%206.11675%2015.7775%206.38606%2015.7775Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M9.00129%2015.7775C9.2706%2015.7775%209.48895%2015.5591%209.48895%2015.2899V9.79945C9.48895%209.53022%209.27053%209.3118%209.00129%209.3118C8.73202%209.3118%208.51367%209.53022%208.51367%209.79945V15.2899C8.51367%2015.5592%208.73198%2015.7775%209.00129%2015.7775Z%22%20fill%3D%22white%22/%3E%0A%3Cpath%20d%3D%22M11.6146%2015.7775C11.8839%2015.7775%2012.1022%2015.5591%2012.1022%2015.2899V9.79945C12.1022%209.53022%2011.8839%209.3118%2011.6146%209.3118C11.3453%209.3118%2011.127%209.53022%2011.127%209.79945V15.2899C11.1269%2015.5592%2011.3453%2015.7775%2011.6146%2015.7775Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A');			
		}
	}
}	

//Items
.items-list {
	margin-top: 20px;
	ul {
		list-style: none;
		vertical-align: top;
		padding: 0;
		
		li {
			text-align: center;
			cursor: pointer;
			padding-bottom: 5px;
			width: 33%;
			
			img {
				max-width: 85px;
				height: auto;
				margin-right: -50%;
				
			}
			
			>div {
				position: relative;
				width: 84px;
				height: 84px;
				border-radius: 25px;
				margin: 15px auto;
				
				.shadow{
					position: absolute;
					bottom: 0px;
					left: 50%;
					@include transform(translateX(-50%));
					display: block;
					width: 70px;
					height: 70px;
					border-radius: 35px;
					filter: blur(15px);
					opacity: 1;
					z-index: -1;					
				}				
			}
			
			h4 {
				font-weight: normal;
				font-size: 16px;
			}
		}
	}
	
	&.recent-items {
		li {
			>div {
				background: #E9E9E9 !important;
				
				.shadow {
					background: #E9E9E9 !important;
				}
			}
		}
	}
}

//Footer panel
.footer-panel {
	position: fixed;
	background: white;
	top: calc(100% - 80px);
	left: 0;
	width: 100%;
	@include border-radius(20px);
	@include box-shadow(0px 0px 10px rgba(0,0,0, 0.05));
	@include transition(0.3s ease-out);
	padding: 0 $indent-base/1.5 $indent-base/1.5;
	height: 100%;
	z-index: 1;
	
	&.up {
		top: 100px;
	}
	
	&-toggle {
		padding: 3px 0;
		text-align: center;
	}
	
	input[type="text"] {
		background: $color-gray-light;
		border-color: $color-gray-light;
		@include border-radius(7px);
		padding-left: 50px;
	}
	
	.search {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 10px;
			display: block;
			width: 27px;
			height: 27px;
			background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2227%22%20height%3D%2227%22%20viewBox%3D%220%200%2027%2027%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%0A%3Cpath%20d%3D%22M26.3999%2023.4636L20.8343%2017.8983C22.1756%2015.9621%2022.8465%2013.8037%2022.8465%2011.4242C22.8465%209.8773%2022.5462%208.39791%2021.9456%206.98631C21.3454%205.57449%2020.534%204.3576%2019.5118%203.33536C18.4896%202.31312%2017.2729%201.50173%2015.8613%200.901472C14.4493%200.301041%2012.97%200.000854492%2011.4232%200.000854492C9.87644%200.000854492%208.39705%200.301041%206.98546%200.901472C5.57363%201.50173%204.35675%202.31312%203.33451%203.33536C2.31216%204.3576%201.50088%205.57472%200.900561%206.98631C0.300187%208.39808%200%209.8773%200%2011.4242C0%2012.9709%200.300187%2014.4498%200.900561%2015.8618C1.50082%2017.2734%202.31216%2018.4901%203.33451%2019.5123C4.35675%2020.5349%205.57386%2021.346%206.98546%2021.9466C8.39722%2022.5469%209.87644%2022.847%2011.4232%2022.847C13.8033%2022.847%2015.9613%2022.176%2017.8976%2020.8349L23.4631%2026.384C23.8525%2026.795%2024.3387%2027.0006%2024.9233%2027.0006C25.4858%2027.0006%2025.9728%2026.795%2026.3835%2026.384C26.7944%2025.9731%2027.0001%2025.4863%2027.0001%2024.9238C27.0002%2024.3508%2026.8001%2023.8638%2026.3999%2023.4636ZM16.5588%2016.5592C15.1363%2017.9818%2013.4246%2018.6931%2011.4232%2018.6931C9.42213%2018.6931%207.7104%2017.9817%206.28784%2016.5592C4.86528%2015.1367%204.15403%2013.4252%204.15403%2011.4238C4.15403%209.42276%204.86545%207.71075%206.28784%206.28847C7.71012%204.86585%209.42213%204.15465%2011.4232%204.15465C13.4244%204.15465%2015.1361%204.86613%2016.5588%206.28847C17.9814%207.71075%2018.6927%209.42276%2018.6927%2011.4238C18.6927%2013.4252%2017.9812%2015.1367%2016.5588%2016.5592Z%22%20fill%3D%22%233CBB6E%22/%3E%0A%3C/g%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%2227%22%20height%3D%2227%22%20fill%3D%22white%22/%3E%0A%3C/clipPath%3E%0A%3C/defs%3E%0A%3C/svg%3E%0A');
			background-repeat: no-repeat;	
			background-size: 100%;		
		}		
	}
}

//Category list
.category-list {
	padding-top: 20px;
	ul {
		list-style: none;
		padding: 0;
		height: 480px;
		overflow: scroll;
	}
}
.category-item {
	margin-bottom: 15px;
	cursor: pointer;
	
	>div {
		display: inline-block;
		@include border-radius(10px);
		margin-right: 25px;
		position: relative;
		width: 38px;
		height: 38px;
		vertical-align: middle;
		
		img {
			position: absolute;
			top:0;
			left: 0;
			max-width: 40px;
			margin-left: 10px;
		}
		
	}
	h4 {
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		font-weight: 500;
	}	
	
	&[data-category="fish"] {
		.category-item-image {
			background: #81C1E5;
		}
	}
}

//Category view
.category-view {
	position: fixed;
	background: white;
	width: 100%;
	z-index: 2;
	bottom: 0;
	left: 0;
	@include border-radius(20px);
	@include box-shadow(0px 0px 10px rgba(0,0,0, 0.05));
	@include transition(0.3s ease-out);
	padding: 0 $indent-base/1.5 $indent-base/1.5;	
	display: none;
	
	&-toggle {
		text-align: center;
	}
}
